<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>

<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-3">

<!-- ユーザーの詳細 -->
        <%= render 'users/userinfo', user: @user %>
        
<!-- 新規投稿 -->
        <%= render 'post', book: Book.new %>
      </div>
        
      <div class= "col-md-8 offset-md-1"></br>      
<!-- 検索フォーム -->      
        <%= render 'searches/search' %>

        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
             <td><%= image_tag @book.user.get_profile_image, size:"80x80" %></br><%= link_to user_path(@user.id) do %><%= @user.name %><% end %></td>
             <td><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></td>
             <td><%= @book.body %></td>
             <% if @book.user == current_user %>
             <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></td>
             <% end %>
             <td>
             <!-- ファボ機能 -->
        <%= render 'favorites/fav', book: @book %>
        　　</td>
        　　  <td>コメント数: <%= @book.book_comments.count %></td>
          </tr>
          </tbody>
        </table>
          <!-- コメ一覧 -->
        <%= render 'book_comments/comindex', book: @book %>
          <!-- コメ機能 -->
        <%= render 'book_comments/com', book: @book %>
      </div>
    </div>
  </div>
</main>